*{
    margin: 0;
    font-family: 'Roboto', Courier, monospace;
    box-sizing: border-box;
}

:root{
    --brighter: #e2e8f0;
    --light: #e6e7e7;
    --medium: #d1d1d1;
    --dark: #475569;
    --darkerOne: #334155;
    --darkerTwo: #1e293b;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

.board{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    aspect-ratio : 1 / 1;
    height: 500px;
    gap: 6px;
    max-width: 100vw;
    max-height: calc(100vw);
    padding: 10px;
    
    
}

.box{
    border: 2px solid #2c3e50;
    background-color: var(--light);
    border-radius: 5%;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box:hover{
    cursor: pointer;
    background-color: var(--medium);
  }


  @media (max-width: 700px) {
    main{
        flex-direction: column;
    }
  }